@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Outfit:wght@100..900&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

.text-outline {
  font-family: "Dancing Script", cursive;
}

.animate-heart {
  animation: heartPop 0.4s ease-in-out  1;
}

@keyframes heartPop {
  0% {
    transform: scale(0.6);
    opacity: 0.6;
    filter: drop-shadow(0 0 0px rgba(255, 80, 120, 0));
  }
  70% {
    transform: scale(1.4);
    opacity: 1;
    filter: drop-shadow(0 0 10px rgba(255, 80, 150, 0.75));
    color: #ff3f86;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    filter: drop-shadow(0 0 0px rgba(255, 80, 120, 0));
    color: #e9457c;
  }
}
